﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeLab - @ViewData["Title"]</title>

    <link href="~/css/ipack.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
