﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome To CodeLab</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <a class="btn btn-link" href="/api/v1/blob/txt-file">
                    Download .txt File
                </a>
            </li>
            <li>
                <a class="btn btn-link" href="/api/v1/blob/zip-file">
                    Download .zip File
                </a>
            </li>
            <li>
                <a class="btn btn-link" href="/api/v1/blob/zip-pdf-files">
                    Download PDF files in a.zip File
                </a>
            </li>
            <li>
                <a class="btn btn-link" asp-page="./Barcode/Index">
                    Generate Barcode / QR Code
                </a>
            </li>
        </ul>
    </div>
</div>