﻿@page
@model CodeLab.AspNetCoreVue.Pages.Barcode.IndexModel
@{
    ViewData["Title"] = "Barcode";
}
<div class="row">
    <div class="col-md-12">
        <h2>Barcode</h2>
    </div>
</div>
<form action="/api/v1/blob/barcode" method="get" target="_blank">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Barcode</label>
                <input type="text" name="content" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">
                Generate
            </button>
        </div>
    </div>
</form>

<form action="/api/v1/blob/qrcode" method="get" target="_blank">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>QR Code</label>
                <input type="text" name="content" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">
                Generate
            </button>
        </div>
    </div>
</form>